*{
     box-sizing: border-box;
     
     
}
#main-img{
     width:100%;
     height:auto;
     border-radius: 5px;
     margin:0;
}
body{
     margin:0;
     

}


h1{
     text-align: center;
     color:#284B63;
     font-size: 50px;
     font-weight: bold;
     font-family: "Julius Sans One";
     text-shadow: 2px 4px #353535;
     
          
}


body{
     
     color:#353535;
     background-color:transparent;
     margin: 0;
}

nav{
     display: flex;
     justify-content: space-around;
     color:white;
}
nav a{
     text-align: center;
     padding:15px;
     color:white;
     border-radius: 5%;
     
     
     text-decoration: none;
     color:white;
     font-size: 18px;
}
nav a:hover
{
     background-color:white;
     text-decoration: underline;
     color:black;
     transition: 3s;
     background:white;
     
     
}


header{
     display:grid;
     grid-template-columns: 150px auto;
     background-color:#07beac;
     padding:25px;
     text-align: center;
     font-size: 15px;
     border-radius: 2px;
     height: auto;
     width: 100%;

     
}
p{
  
     font-family: "Roboto Condensed";
     text-decoration-color:#353535;
     
     font-size: 18px;
     
     

}
.first{
     
     text-align:justify;
     color:#353535;
     width:550px;
     font-size: 27px;
     padding:15px;
     margin: 1%;
     margin-right: auto;
     float:left;    
}


.second{
     text-align: justify;
     color:#353535;
     width:550px;
     font-size: 27px;
     padding:20px;
     margin-top: 1%;
     font-weight: 100;
     margin-left: auto;
     float: right;
}


#bottom-img{
     width:100%;
     height:auto;
     border-radius: 5px;
}
.button {
     background-color: #07beac;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline;
     font-size: 16px;
     border-radius: 10px;
     margin: 30px;
   }
   .button:hover{
     
     text-decoration: underline;
     color:#353535;
     transition: 3s;
   }


   .b{
     text-align: center;
   }



   footer{
     background-color:#07beac;
     color: white;
     padding: 30px 50px;
     display:flex;
     justify-content: space-around;
     align-items: center;
     
     margin-top: 150px;
     border-radius: 2px;
     height: auto;
   }
   .subtitle{
     font-size: 40px;
     font-weight: bold;
     text-align: left;
     color:#284B63;
     text-decoration: dotted;
     margin-left: 20px;
     
   }
   footer a
   {
        color: white;
        text-decoration: none;
   }
   footer a:hover
   {
        color: black;
        transition: 3s;
   }
   section ,aside{
     float:left;
     width: 46%;


   }
   /* css for the subpage */
   #big-img{
     float:left;
     margin-top: 0;
     margin-bottom: 100px;
     border-radius: 5px;
     width:49.9%;
   }
   #service-img{
     float: right;
     width:49.9%;
     margin-top: 0;
     margin-bottom: 100px;
     border-radius: 5px;
   }
   .bottom-img{
     width: 100%;
     height: auto;
   }
  

   .left{
     margin: 0;
     display: inline;
     font-family:"Roboto Condensed" ;
     float: left;
     color: #353535;
     font-size: 25px;
     text-align: justify;
     padding:0 50px;
     
   }
   .right{
     margin: 0;
     display: block;
     margin-right: 30px;
     font-family: "Roboto Condensed";
     
     
     font-size: 25px;
     color: #353535;
     text-align: justify;
     padding: 0 50px;
     
 }
.buton {
     background-color: #07beb8;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline;
     font-size: 16px;
     border-radius: 10px;
     margin: 30px;
   }
   .buton:hover{
     
     text-decoration: underline;
     color:#353535;
     transition: 3s;
   }


   .c{
     text-align: center;
   }
   footer{
     margin-top: 50px;
   }
   /* css for the second subpage*/
   .but{

     background-color: #07beb8;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline;
     font-size: 16px;
     border-radius: 10px;
     margin: 30px;

   }
   .d{
     text-align: center;
   }
   .but:hover{
     text-decoration: underline;
     color: #353535;
     transition:3s;
   }

   .container {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    bottom: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color:white; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;
    font-family: "Julius Sans One";
    text-shadow: 2px 4px #353535;
  }
  .paragraph{
    font-family: "Roboto Condensed";
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    line-height: 20px;
  }
    footer{
      width: 100%;
    }
  .paragraph p{
    padding:30px;
    font-size: 22px;
    line-height: normal;
    border: 1px solid #353535;
    text-align: justify;
  }









     
     
   
   
   
   
   
   

   
   

   
   
   



